@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-accent-light: oklch(0.705 0.213 47.604);
    --color-accent-dark: oklch(0.901 0.076 70.697);
}

html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}