---
interface Props {
    title: string;
    image: string;
    tags: Array<{
        name: string;
        class: string;
        icon: any;
    }>;
    description: string;
    github: string;
    link: string;
}

const { title, image, tags, description, github, link } = Astro.props;
---

<article
    class="w-full flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 border-1 p-6 rounded-lg border-gray-200"
>
    <div class="w-full flex flex-col">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
        </h3>
        <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
                {
                    tags.map((tag) => (
                        <li>
                            <span
                                class={`flex gap-x-2 rounded-full text-xs py-1 px-2`}
                            >
                                {tag}
                            </span>
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class="mt-2 text-gray-700 dark:text-gray-400">
            {description}
        </div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
        </footer>
    </div>
</article>
